@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: "Outfit", sans-serif;
    --color-primary: #1e4c8d;
    /* Navy Blue */
    --color-secondary: #0e7664;
    /* Forest Green */
    --color-accent: #f97316;
    /* Orange */
}

body {
    font-family: var(--font-sans);
}